<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Monitoring System</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/static/index.js"></script>
</head>
<body>
<div id="monitoring_data">
    <label>Система</label><br>
    <input type="text" id="password_state" placeholder="Новый пароль">
    <button onclick="submitPassword()">Отправить</button>
    <br>

    <label>Качество жизни</label><br>
    <input type="text" id="temp_state" placeholder="Значение температуры">
    <button onclick="submitTempState()">Отправить</button>
    <br>


    <label>Средняя температура</label><br>
    <input type="text" id="avg_temp" placeholder="Значение" disabled>
    <br>

    <label>Кондиционер</label><br>
    <input type="text" id="conditioner_state" placeholder="Статус" disabled>
    <br>

    <label>Умные часы</label><br>
    <input type="text" id="sleep_time" placeholder="Значение для сна">
    <button onclick="submitSleepTime()">Отправить</button>
    <br>

    <label>Среднее количество часов сна</label><br>
    <input type="text" id="avg_sleep" placeholder="Значение" disabled>
    <br>

    <label>Максимальное количество часов сна</label><br>
    <input type="text" id="max_sleep" placeholder="Значение" disabled>
    <br>

    <label>Пора ли спать?</label><br>
    <input type="text" id="sleep_power" placeholder="Статус" disabled>
    <br>

    <label>Трыц тыц холодильник</label><br>
    <input type="text" id="fridge_full_state" placeholder="Значение для холодильника">
    <button onclick="submitFridgeValue()">Отправить</button>
    <br>
    <label>Минимальное состояние холодильника</label><br>
    <input type="text" id="fridge_min" placeholder="Статус" disabled>
    <br>
    <label>Мощность холодильника</label><br>
    <input type="text" id="fridge_power" placeholder="Статус" disabled>
    <br>


    <label>Кофемашинка</label><br>
    <input type="text" id="coffee_value" placeholder="Значение для кофемашины">
    <button onclick="submitCoffeeMachineValue()">Отправить</button>
    <br>


    <label>Медиана количества зерен</label><br>
    <input type="text" id="beans_median" placeholder="Статус" disabled >
    <br>

    <label>Пополнение кофемашины</label><br>
    <input type="text" id="Refill" placeholder="Статус" disabled>
    <br>

</div>

</body>
</html>